body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Roboto, Helvetica, sans-serif;
    background: #ebebeb;

}
.box{
    width: 400px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #a5a5a5;
    text-align: center;
    border-radius: 25px;
}
.box h1{
    color:rgb(54, 54, 54);
    text-transform: uppercase;
    font-weight:400;
}

.box input[type = "text"],.box input[type = "password"]{
    font-family: "Helvetica Neue", Roboto, Helvetica, sans-serif;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 10px, 100px;
    height: 35px;
    width: 300px;
    outline: none;
    color: rgb(255, 255, 255);
    text-emphasis-color: white;
    border-radius: 15px;
    transition: 0.9s;
}
.box input[type = "button"]{
    font-family: "Helvetica Neue", Roboto, Helvetica, sans-serif;
    background: none;
    display: block;
    margin: 35px auto;
    text-align: center;
    text-shadow: 1px 1px 12px black;
    border: 2px solid #ffffff;
    padding: 14px, 40px;
    height: 40px;
    width: 300px;
    outline: none;
    color: rgb(255, 255, 255);
    transition: 2s;
    cursor: pointer;
    border-radius: 15px;

  -webkit-box-shadow: 83px 73px 81px -45px rgba(0, 0, 0, 1);
  -moz-box-shadow: 83px 73px 81px -45px rgba(0, 0, 0, 1);
  box-shadow: 83px 73px 81px -45px rgba(0, 0, 0, 1);
}
.box input[type = "button"] :hover{
    background: #ffffff;
}