/hot_res_djng/hot_res_djng/credentials.py
/venv/
/temporary_files/
/node_modules/
/hot_res_djng/ip.txt
/hot_res_djng/hot_res_app/migrations/__pycache__/
/hot_res_djng/hot_res_app/__pycache__/
.python-version