/hot_res_djng/hot_res_djng/credentials.py
/venv/
/temporary_files/
/node_modules/
/hot_res_djng/ip.txt
__pycache__/
.python-version
.vscode/
*pyc
ip.txt
*main.js
.DS_Store
/hot_res_djng/hot_res_app/static/hot_res_app/main.js.LICENSE.txt
