<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="{% static 'styles/normalize.css' %}" />
		<link
			rel="stylesheet"
			href="{% static 'waiter/styles/waiter_login.css' %}"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Login</title>
	</head>
	<body>
		<h1>FICHA</h1>
		<form method="POST" action="">
			<div>
				{% csrf_token %}
				<div>
					<input
						type="text"
						name="username"
						placeholder="Username..."
					/>
				</div>
				<div>
					<input
						type="password"
						name="password"
						placeholder="Password..."
					/>
				</div>
				<div>
					<input type="submit" value="login" />
				</div>
				{% for message in messages %}
				<p id="message">{{message}}</p>
				{% endfor %}
			</div>
		</form>
	</body>
</html>
