* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Roboto, Helvetica, sans-serif;;
  background-color: rgb(229, 229, 229);
}

.App-clock {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  width: 10%;
  padding: 1px;
  margin: 0 auto;
  margin-top: 10;
//   border-radius: 5px;
}

.phrase {
  text-align: center;
}

.order {
  display: flex;
  padding: 1% 1% 1% 1%;
  // margin-top: 5px;
  border: 0px solid rgb(255, 255, 255);
  align-items: center;
  flex-direction: row;
  text-align: left;
  border-bottom: 1px solid grey;
  .order_name {
    display: block;
    margin-bottom: 20%;
    text-align: center;
  }
  .elements {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    // vertical-align: middle;
    // text-align: center;
    flex-direction: column;
    // display: inline;
  }

  .date {
    // vertical-align: middle;
    display: block;
    text-align: left;
  }
  .item_list {
    width: 35%;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 3px solid rgba(183, 183, 183, 1);
    .item {
      text-align: left;
    }
  }
  .waitingTime{
    padding: 0% 0% 0% 3%;
    text-align: right;
  }
}

.listOfOrders {
  // display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  float: inline-start;
  width: 40%;
  margin-left: 25%;
  text-align: center;
//   border-radius: 10px;
}

.everything {
  display: flex;
  flex-direction: row;

  .listOfFeatures {
    display: flex;
    flex-direction: column;
  }
}
