@mixin min-width($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
* {
  box-sizing: border-box;
}
:root {
  --corner-radius: 7px;
  @include min-width(700px) {
    --corner-radius: 16px;
  }
  // --blur-radius: 0,63px;
  --blur-radius: 0.073vh;
}
$font-stack: "Helvetica Neue", Roboto, Helvetica, sans-serif;
$bg-color: #f2f2f2;
$text-color: #000000;
$graytext-color: #676767;
$categories-bg-color: #ededed;
$accent-color: #fccfa6;
$h1: 3rem;
$h2: 1.55rem;
$h3: 1rem;

:focus {
  outline: 0;
}

html {
  font-size: 12px;
  @include min-width(650px) {
    font-size: 18px;
  }
  @include min-width(1000px) {
    margin: 0 auto;
    // max-width: 1000px;
  }
}
body {
  font-family: $font-stack;
  background-color: $bg-color;
  font-size: 1rem;
}

h2 {
  font-size: $h2;
  font-weight: bold;
  line-height: 1.8rem;
}
.name-header {
  font-size: $h1;
  line-height: $h1;
  padding: 1.2rem 1rem 0.8rem;
  margin: 0;
}
.categories {
  //questionable - stick categories to the top
  // position: sticky;
  // top: 0;

  display: flex;
  overflow-x: auto;
  align-items: flex-start;
  background-color: $categories-bg-color;
  border-radius: calc(1.5 * var(--corner-radius));
  .chosen {
    box-shadow: -0.25px -1px calc(3 * var(--blur-radius)) rgba(255, 255, 255, 0.4),
      inset 400px 0px 0px rgba(0, 0, 0, 0.01),
      inset -0.5px -1.3px calc(4 * var(--blur-radius)) rgba(255, 255, 255, 0.9),
      inset 0.82px 1.64px calc(15 * var(--blur-radius)) rgba(0, 0, 0, 0.3);
  }
}

.categories button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem 2.5vw;
  background-color: rgba(0, 0, 0, 0);
  width: 20vw;
  max-width: 7rem;
  border: 0;
  border-radius: var(--corner-radius);
  div.image {
    padding: 0.7rem 0.7rem 0;
    border-radius: var(--corner-radius);
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  h3 {
    margin-top: 1.5rem;
    font-size: $h3;
    line-height: $h3;
    font-weight: bold;
  }
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem 1rem;
  .image {
    // flex:
    order: 1;
    width: 7rem;
    height: 7rem;
    // margin: 2rem;
    border-radius: var(--corner-radius);
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .info {
    order: 2;
    flex: 3 1;
    padding: 0 1rem 0 2.3rem;
    color: $graytext-color;
    h2 {
      margin-bottom: 0;
      // display: inline;
    }
    .mass,
    .kkal {
      display: inline;
      line-height: 0.9rem;
      font-weight: 500;
      font-size: 0.8rem;
      margin-right: 1.6rem;
    }
    .description {
      font-weight: 400;
      font-size: 0.8rem;
      margin-top: 1rem;
    }
  }
  .buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
    button {
      border: 0;
      margin-top: 1.2rem;
      width: 2.3rem;
      height: 2.3rem;
      padding: 0;
      box-shadow: 0.410829px 0.410829px 1.53249px rgba(0, 0, 0, 0.3),
        0px -1.03549px 1.29437px rgba(255, 255, 255, 0.4),
        inset -0.365638px -0.62446px 0.821658px rgba(0, 0, 0, 0.05),
        inset 0.62446px 0.731275px 0.8px rgba(255, 255, 255, 0.5);
      border-radius: 40px;
      transition: all 0.5s ease-out;
      img {
        width: 1rem;
      }
    }
    button:active {
      transition: all 0s ease-out;
      box-shadow: none;
    }
  }
}
.cart {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  button {
    background-color: $accent-color;
    border: 0;
    display: flex;
    align-items: center;
    border-radius: 40px;
    height: 3.4rem;
    padding: 0 1rem;
    box-shadow: 0px 2.32986px 3.36536px rgba(0, 0, 0, 0.25);
    img {
      width: 2rem;
      margin-right: 1rem;
    }
    .total {
      font-size: $h2;
      font-weight: bold;
    }
  }
}

// .cart {
// 	position: fixed;
// 	right: 10px;
// 	bottom: 10px;
// }

.order-button {
  background-color: coral;
  width: 100%;
}
