* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// css to rewrite:^)
// .hidden {
//     display: none;
// }

.categories {
    width: 100%;
}

.menu {
    float: inline-start;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.category-button {
    width: 25%;
    height: 40px;
    background-color: coral;

}

.add-to-cart {
    background-color: coral;
    width: 20%;
}

.menu-item {
    padding: 11px;
    border: 2px solid black;
    margin-top: 15px;    
}

.cart {
    position: fixed;
    margin-top: 10px;
    right: 10px;
}

.order-button {
    background-color: coral;
    width: 100%;
}

.cart-button {
    background-color: coral;
}