// @import 'app';
@import "variables";

.cart-open {
	top: 0%;
	visibility: visible;
	transition: visibility 0s, top 0.15s $in-out;
}

.cart-closed {
	top: 100%;
	visibility: hidden;
	transition: visibility 0s 0.2s, top 0.15s $in-out;
	// display: none;
}
.cart-wrapper {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(45px);
    @include no-blur-support{
       @include no-blur-background;
    }
	// top: 0px;
	left: 0px;
	// transition: top 0.1s $in-out;
	position: fixed;
	z-index: 50;

	#cart-div {
		// cursor: pointer;

		max-width: $max-width;
		margin: 0 auto;
		position: relative;
		display: flex;
		height: 100%;
		flex-direction: column;
		.back-button {
			cursor: pointer;
			position: absolute;
			top: 16px;
			left: 9px;
			background: none;
			border: none;
			img {
				width: 22.5px;
			}
		}
		.heading {
			h1 {
				width: fit-content;
				color: #232323;
				font-size: $h1;
				margin: 24px auto 5px;
			}
		}
		.order {
			overflow-y: scroll;
			padding: 10px 10px 30px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			@include max-width(360px) {
				grid-template-columns: 1fr 1fr;
			}
			column-gap: 24px;
			row-gap: 15px;
			#cart-item {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				padding: 10px 6px;

				background: #f9f9f9;
				box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
				border-radius: 11px;
				.image {
					img {
						height: 100%;
						max-height: 37px;
					}
				}
				.name {
					margin: 6px auto;
					text-align: center;
				}
				.price {
					margin: 6px auto;
				}
				.counter {
					display: flex;
					flex-direction: row;
					align-items: center;
					.decrement,
					.increment {
                        position: relative;
                        padding: 0;
						font-weight: bold;
						font-size: 16px;
						text-align: center;
						display: flex;
						justify-content: center;
						align-items: center;
						color: $text-color;
						width: 18px;
						height: 18px;
						border-radius: 16px;
						padding-bottom: 2px;
					}
                    .decrement:after,
                    .increment:after {
                        content: '';
                        position:absolute;
                        top:-10px; bottom:-10px;
                        left: -10px; right: -10px; 
                    }
					.decrement {
						border: 1px solid #222222;
						background: none;
					}
					.increment {
						background: $light-accent-color;
						border: none;
					}
					> * {
						margin: auto 6px;
					}
				}
			}
		}
		.order-button {
			cursor: pointer;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 49px;
			right: 10px;
			left: 10px;
			width: calc(100% - 20px);
			bottom: 12px;
			margin: 0 auto;
			background: $dark-accent-color;
			box-shadow: 0px 4px 24px rgba(26, 54, 128, 0.25);
			border-radius: 16px;
			border: 0;
			> * {
				padding-right: 10px;
			}
			h2 {
				color: #fff;
				font-size: $h2;
			}
			img {
				height: 20px;
			}
			transition: background 0.4s $in-out;
		}
		.order-button:active {
			-webkit-tap-highlight-color: transparent;
			background: $highlight-color;
			transition: background 0.4s $in-out;
		}
        .—Åhange-item-count {
            background: $highlight-color;
            transition: background 0.1s $in-out;
        }
	}
}
