@import "variables";
* {
	box-sizing: border-box;
}
:root {
	--corner-radius: 16px;
}

:focus {
	outline: 0;
}

html {
	font-size: 16px;
	@include min-width($max-width) {
		margin: 0 auto;
		max-width: $max-width;
	}
}
body {
	font-family: $font-stack;
	font-size: 0.75rem;
	@include background;
}
.noscroll {
	overflow: hidden;
}
h2 {
	font-size: $h2;
	font-weight: bold;
	line-height: 1rem;
}
.name-header {
	font-size: $h1;
	line-height: $h1;
	padding: 1.2rem 1rem 0.8rem;
	margin: 0;
}
.categories {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	justify-content: flex-start;
	align-items: center;
	padding: 17px 28px;
	height: 60px;
	.category-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0.75rem;
		margin-left: 0;
		background-color: rgba(0, 0, 0, 0);
		min-width: 69px;
		border-radius: $corner-radius;
		height: 32px;
		background: #f9f9f9;
		border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
		h3 {
			padding: 3px 6px;
			margin: 0;
			text-align: center;
			font-size: $h3;
			line-height: $h3;
			font-weight: bold;
		}
	}
	.chosen {
		background: $dark-accent-color;
        box-shadow: 0px 4px 15px rgba(21, 27, 79, 0.16);
		color: #ffffff;
		border: none;
	}
}

.menu {
	z-index: 1;
	display: flex;
	flex-direction: column;
    padding-bottom: 70px;
}
.menu-item {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	padding: 16px 24px 16px 24px;
	border-radius: $corner-radius;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(20px);
    box-shadow: 0px 4px 10px rgba(2, 23, 76, 0.05);
	.image {
        margin: auto;
		order: 1;
		width: 69px;
		border-radius: var(--corner-radius);
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.info {
		order: 2;
		flex: 3 1;
		// padding: 0 1rem 0 2.3rem;
		padding: 0 1rem 0 calc(min(24px, 5vw));
		color: $text-color;
		h2 {
			margin-bottom: 7px;
		}
		.mass,
		.kkal {
			color: $graytext-color;
			display: inline;
			line-height: 0.9rem;
			font-weight: 500;
			font-size: 0.8rem;
			margin-right: 1.6rem;
		}
		.description {
			color: $graytext-color;
			font-weight: 400;
			font-size: 0.8rem;
			margin-top: 10px;
		}
	}
	.buy {
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 3;
		h2 {
            margin-bottom: 16px;
		}
		button {
            // cursor: pointer;
            position:relative;
			border: 0;
			width: 24px;
			height: 24px;
			padding: 0;
			display: flex;
			align-items: flex-end;
			justify-content: center;
            background: rgba(255, 255, 255, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
			border-radius: 40px;
			transition: all 0.4s $in-out;
			img {
				width: 10px;
				margin: auto;
			}
		}
		button:active {
			transition: all 0s ease-out;
            background: $highlight-color;
			box-shadow: none;
		}
        button:after{
            content: '';
            position:absolute;
            top:-10px; bottom:-10px;
            left: -10px; right: -10px;
        }
	}
}

#open-cart-button {
	bottom: 12px;
	right: 48px;
    @include min-width($max-width) {
        right: 15vw;
    }
	img {
        height: 20px;
		margin-right: 8px;
	}
	.total {
        font-size: $h2;
		font-weight: bold;
	}
}

#open-cart-button,
#call-waiter {
    position: fixed;
	background-color: #f9f9f9;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3.62423px 4.14198px;
	width: 90px;
	height: 53px;
	background: #f9f9f9;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 42px;
}

#call-waiter {
    font-size: $h2;
	font-weight: bold;
	// position: absolute;
	bottom: 12px;
	left: 48px;
    @include min-width($max-width) {
        left: 15vw;
    }
}

#open-cart-button.new-item {
    background-color: $new-item-color;
    transition: all 0.05s 0s $in-out;
} 
#open-cart-button {
    background-color: #f9f9f9;
    transition: all 0.5s 0.1s $in-out;
} 