@mixin min-width($width) {
	@media only screen and (min-width: $width) {
		@content;
	}
}
@mixin max-width($width) {
	@media only screen and (max-width: $width) {
		@content;
	}
}

@mixin no-blur-support {
	@supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
		@content;
	}
}

$bg-gradient: linear-gradient(
	172.06deg,
	#f6e6fb 8.44%,
	#fdd1d8 40.09%,
	#f7dec9 96.51%
);

@mixin background {
	background: $bg-gradient;

	background-attachment: fixed;
}
@mixin no-blur-background {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.4)
		),
		$bg-gradient,
		linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.8)
		);

	background-attachment: fixed;
}

$max-width: 600px;

$font-stack: "Helvetica Neue", Roboto, Helvetica, sans-serif;
$text-color: #000000;
$graytext-color: #676767;
$default-button-color: #f9f9f9;
$default-button-highlight-color: #eaeaea;

$dark-accent-color: #5579d7;
$light-accent-color: #afc2f3;
$new-item-color: #afc2f3;
$highlight-color: #aabceb;
$corner-radius: 16px;

$h1: 1.5rem;
$h2: 1rem;
$h3: 0.75rem;

$in-out: cubic-bezier(0.42, 0, 0.58, 1);
